<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="transparent">
        <color rgba="0.0 0.0 0.0 0.0"/>
    </material>
    <material name="Black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>
    <material name="Silver">
        <color rgba="0.8 0.8 0.8 1.0"/>
    </material>
    <material name="BlueGrey">
        <color rgba="0.004 0.341 0.608 1.0"/>
    </material>

    <xacro:property name="PI" value="${pi}" />

    <xacro:property name="board_mass"         value="0.3" />
    <xacro:property name="base_mass"           value="2" />
    <xacro:property name="top_box_mass"        value="1" />
    <xacro:property name="shoulder_to_elbow"   value="0.146" />
    <xacro:property name="shoulder_mass"       value="0.5" />
    <xacro:property name="tube_length"         value="0.15" />
    <xacro:property name="hs_755eb_depth"      value="0.05" />
    <xacro:property name="hs_755eb_mass"       value="0.11" />
    <xacro:property name="hs_645_mass"         value="0.05" />
    <xacro:property name="gripper_base_width"  value="0.03175" />
    <xacro:property name="camera_support_depth" value="0.25" />

    <xacro:macro name="inertial_matrix" params="mass ixx ixy ixz iyy iyz izz xyz">
        <inertial>
            <origin rpy="0 0 0" xyz="${xyz}" />
            <mass value="${mass}" />
            <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_matrix_box" params="mass height width depth">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="${(depth*depth + height*height)*mass/12}" ixy="0.0" ixz="0.0"
                     iyy="${(width*width + depth*depth)*mass/12}" iyz="0.0"
                     izz="${(width*width + height*height)*mass/12}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_matrix_bis" params="mass">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="0.5" iyz="0.0" izz="1.0" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="mimic_joint_plugin_gazebo" params="name_prefix parent_joint mimic_joint has_pid:=false multiplier:=1.0 offset:=0 sensitiveness:=0.0 max_effort:=1.0 robot_namespace:=''">
        <gazebo>
            <plugin name="${name_prefix}mimic_joint_plugin" filename="libroboticsgroup_upatras_gazebo_mimic_joint_plugin.so">
                <joint>${parent_joint}</joint>
                <mimicJoint>${mimic_joint}</mimicJoint>
                <xacro:if value="${has_pid}">
                    <hasPID />
                </xacro:if>
                <multiplier>${multiplier}</multiplier>
                <offset>${offset}</offset>
                <sensitiveness>${sensitiveness}</sensitiveness>
                <maxEffort>${max_effort}</maxEffort>
                <xacro:unless value="${robot_namespace == ''}">
                    <robotNamespace>${robot_namespace}</robotNamespace>
                </xacro:unless>
            </plugin>
        </gazebo>
    </xacro:macro>

</robot>
